@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
:root {
  font-size: 16px;
}
body {
  background-color: #17171c;
  font-family: "Work Sans", sans-serif;
  color: #ffffff;
  min-height: 100vh;
  min-width: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  border: 2px solid #fff;
  border-radius: 0.625rem;
}
.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.text {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 300;
  margin: 2rem;
  gap: 1rem;
}
.text .operation {
  font-size: 2.5rem;
  color: rgb(255, 255, 255, 0.4);
}
.text .result {
  font-size: 4.5rem;
}
.buttons {
  margin: 2rem;
}
.text span {
  display: block;
  text-overflow: ellipsis;
  text-align: right;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.button {
  font-family: "Work Sans", sans-serif;
  font-weight: normal;
  color: #fff;
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  border-radius: 1rem;
  border: none;
  background-color: #2e2f38;
  cursor: pointer;
}
.button.first-line {
  background-color: #4e505f;
}
.button.last-row {
  background-color: #4b5efc;
}
.button img {
  margin: 1.5rem auto;
}

@media screen and (max-width: 480px) {
  body {
    min-width: 0;
  }
  .container {
    width: 90vw;
  }
  .buttons,
  .text {
    margin: 1rem;
  }
  .text {
    gap: 0;
  }
}
@media screen and (max-width: 375px) {
  body {
    min-width: 0;
  }
  .container {
    width: 95vw;
  }
  .grid {
    gap: 0.5rem;
  }
  .buttons,
  .text {
    margin: 0.5rem;
  }
  .text {
    gap: 0;
    width: 88vw;
  }
  .text .result {
    font-size: 10vw;
  }
}
